<footer class="aabtaab-footer">
    <div class="footer-container">
        
        {# Footer Builder Area #}
        {% include 'partials/footer-builder.html.twig' %}

    </div>

    <div class="footer-bottom">
        <div class="bottom-content">
            <div class="copyright">{{ theme_var('agent_footer_legal_copy')|raw }}</div>
            <div class="credits">{{ theme_var('agent_footer_legal_credits')|raw }}</div>
        </div>
    </div>
</footer>
