<section class="py-24 @lg:py-32 px-6 @lg:px-12 bg-surface-sunken dark:bg-brand-dark @container [content-visibility:auto]">
    <div class="prose prose-lg @lg:prose-xl max-w-none text-brand-gray dark:text-gray-300 leading-loose">
        {{ content|raw }}
    </div>
</section>
