{# Refactored: templates/partials/blog/date.html.twig #}
<span class="blog-date {{ classes|default('text-subtle') }}">
    <i class="la la-calendar-alt blog-date-icon" aria-hidden="true"></i>
    <time class="dt-published" datetime="{{ page.date|date("c") }}">
        {{ page.date|date(system.pages.dateformat.short) }}
    </time>
</span>

