{# 
    NUR-UL-HUDA BLOG SUMMARY
    ------------------------
    Blueprint: [blog-components.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/blog-components.blueprint.md)
#}
<div class="p-summary e-content prose-custom p-summary-text content-visibility-auto">
    {% if page.summary != page.content %}
        {{ page.summary|raw }}
    {% else %}
        {{ page.content|raw }}
    {% endif %}
</div>
