{#
/**
 * META INFO COMPONENT
 * 
 * Display metadata with icons (used for courses, articles, products, etc.)
 * 
 * @param array items        - Array of meta items with 'icon' and 'text' keys
 * @param string class       - Additional CSS classes
 * @param boolean inline     - Display inline (default: true)
 * 
 * Usage:
 * {% include 'components/meta-info.html.twig' with {
 *     items: [
 *         {icon: 'fa-user', text: 'John Doe'},
 *         {icon: 'fa-clock-o', text: '2 hours'},
 *         {icon: 'fa-signal', text: 'Intermediate'}
 *     ]
 * } %}
 */
#}

{% set items = items|default([]) %}
{% set class = class|default('') %}
{% set inline = inline is defined ? inline : true %}

{% if items %}
    <div class="meta-info {{ inline ? 'meta-info--inline' : 'meta-info--stacked' }} {{ class }}">
        {% for item in items %}
            {% if item.text %}
                <span class="meta-info-item">
                    {% if item.icon %}
                        <i class="fa {{ item.icon }}" aria-hidden="true"></i>
                    {% endif %}
                    <span class="meta-info-text">{{ item.text }}</span>
                </span>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
