{% extends 'partials/base.html.twig' %}

{% block body %}
<section class="section section-py animate-fade-in-up">
    <div class="section-container-narrow">
        <div class="prose-custom default-content">
            {{ page.content|raw }}
        </div>
    </div>
</section>
{% endblock %}
