{% extends 'partials/base.html.twig' %}

{% block body %}
	<main class="section section-py animate-fade-in-up">
		<div class="section-container-narrow">
			<div class="prose-custom default-content">
				{{ page.content|raw }}
			</div>
		</div>
	</main>
{% endblock %}
