{% if crumbs|length > 1 %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumb-list">
    {% for crumb in crumbs %}
      <li class="breadcrumb-item">
        {% if not loop.first %}
          <i class="la la-angle-right breadcrumb-separator" aria-hidden="true"></i>
        {% endif %}
        
        {% if not loop.last %}
          <a href="{{ crumb.url }}" class="breadcrumb-link">
            {{ crumb.menu }}
          </a>
        {% else %}
          <span class="breadcrumb-current" aria-current="page">
            {{ crumb.menu }}
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}

