{% if crumbs|length > 1 %}
<nav class="flex text-sm font-medium text-gray-500 my-4" aria-label="Breadcrumb">
  <ol class="flex items-center space-x-2">
    {% for crumb in crumbs %}
      <li>
        <div class="flex items-center">
          {% if not loop.first %}
            <i class="fa fa-angle-right text-gray-400 mx-2"></i>
          {% endif %}
          
          {% if not loop.last %}
            <a href="{{ crumb.url }}" class="hover:text-gray-700 transition duration-150 ease-in-out">{{ crumb.menu }}</a>
          {% else %}
            <span class="text-gray-900 font-bold" aria-current="page">{{ crumb.menu }}</span>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}
