{% if form.message %}
  {% set inline_errors = form.inline_errors is not null ? form.inline_errors : config.plugins.form.inline_errors(false) %}
  {% set status_mapping = {
      'success': 'alert-success', 
      'error': 'alert-error', 
      'warning': 'alert-warning'
  } %}
  {% set message = inline_errors and form.messages ? "GRAV.FORM.VALIDATION_FAIL"|t : form.message %}
  
  <div class="form-alert {{ status_mapping[form.status] ?: 'alert-default' }}">
    {{ message|raw }}
  </div>
{% endif %}