{# 
    NUR-UL-HUDA LAYOUT GRID
    -----------------------
    Blueprint: [global-utilities.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/global-utilities.blueprint.md)
#}
{% set item_col = show_sidebar ? 'layout-sidebar-col' : 'col-span-full' %}
{% set sidebar_col = show_sidebar ? 'col-span-1' : 'col-span-full' %}

<div class="layout-grid {{ show_sidebar ? 'has-sidebar' : '' }}">
    <div id="item" class="layout-content">
        {% block item %}{% endblock %}
    </div>
    {% if show_sidebar %}
    <div id="sidebar" class="layout-sidebar">
        <div class="sticky-sidebar">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
    {% endif %}
</div>


