{% if grav.user.username %}
	<span class="login-status">
		<span class="status-badge">
			<i class="la la-user-circle status-avatar" aria-hidden="true"></i>
			<span class="status-name">{{ grav.user.fullname ?: grav.user.username }}</span>
		</span>
	</span>
{% else %}
	<div class="login-status">
		<a href="{{ base_url_relative }}/login" class="login-link">
			<i class="la la-user-lock" aria-hidden="true"></i>
			{{ 'PLUGIN_LOGIN.BTN_LOGIN'|t }}
		</a>
	</div>
{% endif %}
