{# 
    NUR-UL-HUDA RELATED PAGES
    -------------------------
    Blueprint: [discovery.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/discovery.blueprint.md)
#}
<ul class="widget-list">
    {% for related_path, score in related_pages %}
        {% set related = grav['pages'].get(related_path) %}
        {% if related %}
            <li class="group">
                <a href="{{ related.url }}" title="{{ related.title }}" 
                   class="widget-link card-glass">
                    <span class="widget-label line-clamp-1">{{ related.title }}</span>
                    {% if config.plugins.relatedpages.show_score %}
                        <span class="badge-primary">
                            {{ score }}
                        </span>
                    {% endif %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>