<ul class="space-y-2">
    {% for related_path, score in related_pages %}
        {% set related = grav['pages'].get(related_path) %}
        {% if related %}
            <li class="flex items-center justify-between p-2 hover:bg-gray-100 rounded">
                {% if config.plugins.relatedpages.show_score %}
                    <div class="ml-2">
                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-blue-100 text-blue-800">{{ score }}</span>
                    </div>
                {% endif %}
                <a href="{{ related.url }}" title="{{ related.title }}">{{ related.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>