{% extends "forms/field.html.twig" %}

{% block input %}
    <div id="navigation-builder-root" class="navigation-builder-wrapper">
        <div class="text-center">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
            <p>Loading Navigation Builder...</p>
        </div>
    </div>

    {# Load React App Bundle #}
    {% do assets.addJs('theme://navigation-builder/dist/assets/index.js', { 'type': 'module' }) %}
    {% do assets.addCss('theme://navigation-builder/dist/assets/index.css') %}

    {# Hidden input to store the JSON data #}
    <input
        type="hidden"
        name="{{ (scope ~ field.name)|fieldName }}"
        value="{{ value|json_encode(constant('JSON_UNESCAPED_SLASHES')) }}"
        class="navigation-builder-data"
    />
{% endblock %}
